<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url=".*"></match>
					<conditions>
						<add input="{HTTPS}" pattern="ON" negate="true"></add>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"></action>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security" value="max-age=600"></add>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="SecurityMatters" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="SecurityMatters" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
